body, html {height:100%;}
div.wrap {height:100%; overflow:hidden;}

body{
    background-image: url(../src/bgZombie.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    font-family: 'Cinzel Decorative', cursive;
}

.mainBtn{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 19px;
    width: 200px;
    height: 50px;
    color: black;
    border: none;
    background-color: transparent;
    /* border: 4px solid darkred; */
    cursor: pointer;   
}


.mainBtn2{
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 900;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100;
    background-color: rgba(36, 0, 0, 0.5); 
    border: 2px solid darkred;
    border-radius: 1%;
    
}
audio{
    display: none;
}
canvas {
    position: absolute;
    display: block;
    width: 1000px;
    height: 520px;
    background-image: url(../src/background.jpg);
    border: rgb(65, 2, 2) solid 1px;
    box-shadow: 0 0 55px rgba(145, 0, 0, 0.57);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#startScreen{
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selectScreen{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    background-color: rgba(218, 179, 179, 0.5);
    border-top:1px black solid;
    border-bottom: 1px black solid;
    height: fit-content;
    padding: 50px;
    box-shadow: 0 0 15px darkred;
}

#instrToHome{
    
}

#instructionsScreen{
    display: none;
}

#gameOverScreen{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#start_game{
    margin-left: auto;
    margin-right: auto;
}

#game{
    display: none;
}

.title{
    font-size: 100px;
    margin: 0px;
    text-shadow: 0 0 12px #FF0000;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: rgb(36, 0, 0);
}


.subtitle{
    font-size: 35px;
    font-weight: 300;
    color: black;
    text-shadow: 0 0 1px #FF0000;
    animation: shake 4s;
    animation-iteration-count: infinite;
    margin: 5px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.municion{
    position: absolute;
}

#finalPoints{
    margin: 10px;
    font-size: 40px;
    font-weight: 300;
    color: white;
    animation: shake 7s;
    animation-iteration-count: infinite;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black;
}

.vidas{
    position: absolute;
}


.chrome {
    /* background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%); */
    background-image: -webkit-linear-gradient(
        rgb(68, 19, 19) 0%, 
        rgb(102, 31, 31) 46%, 
        #722323 50%, 
        rgb(161, 62, 62) 54%, 
        rgb(182, 41, 41) 58%, 
        rgb(94, 19, 19) 90%, 
        rgb(122, 9, 9) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'Cinzel Decorative', cursive;
    font-style: italic;
    margin: 0;
    line-height: 1;
    top: 20%;
    font-weight: 900;
}

.fadeout {
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 1.5s;
    width: 800px;
  }

  @keyframes topFadeOut {
    0% {
      position: absolute;
      left: -3rem;
      opacity: 0;
    }
  
    50% {
      position: absolute;
      left: 30%;
      opacity: 1;
    }
  
    100% {
      position: absolute;
      opacity: 1;
      left: 100%;
    }
  }
  
  .main-selector{
    display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
  }
  .arma{
      width: 300px;
  }
  .personaje{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.imagen{
    width: 100%;
}
  .nombre{
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      align-content: stretch;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 20px;
      font-weight: 900;
  }
  .left{
    margin-right: 30px;
    }
  .right{
    margin-left: 30px;
}




/* BUTTON START */
/* Tamaya */
.button--tamaya {
    font-family: 'Cinzel Decorative', cursive;
	overflow: hidden;
	color: #5d1f1e;
    min-width: 180p;
    font-weight: 900;
    font-size: 15px;
    width: 200px;
    box-shadow: 0 0 5px #000000;
    animation: shake 7s;
    animation-iteration-count: infinite;
}
.button-tamaya2{
    animation: shake 4s;
    animation-iteration-count: infinite;
}
.button--tamaya::before,
.button--tamaya::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	background: #5d1f1e;
	color: #fff;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	background: #5d1f1e;

}
.button--tamaya::before {
	top: 0;
	padding-top: 1em;
}
.button--tamaya::after {
	bottom: 0;
    line-height: 0;
}
.button--tamaya2::before {
    background: transparent;
    color: black;
}
.button--tamaya2::after {
    background: transparent;
    color: black;
}
.button--tamaya3::before {
    background: transparent;
    color: white;
}
.button--tamaya3::after {
    background: transparent;
    color: white;
}
.button--tamaya > span {
	display: block;
	-webkit-transform: scale3d(0.2, 0.2, 1);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya:hover::before {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button--tamaya:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--tamaya:hover > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Common button styles */
.buttonout {
	min-width: 150px;
	max-width: 250px;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.buttonout2{
    color: white;
    background: #5d1f1e;
}

.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Borders */
.button--border-thick {
	border: 3px solid black;
}
.button--border-thick2 {
	border: 3px solid white;
}